<div ng-init="init()" class="container">

	<h2>
		<i class="fas fa-file-alt"></i> 
		<span ng-show="!ficha.id">Cadastrar Ficha</span>
		<span ng-show="ficha.id">Editar Ficha</span>
	</h2>

	<div ng-show="msgSucesso" class="alert alert-success">
		<span>Cadastro realizado com sucesso!</span>
	</div>

	<form ng-submit="salvar(ficha)">
		<div ng-if="ficha.id">
			<label> ID :</label>
			<input type="text" ng-model="ficha.id" class="form-control" placeholder="Digite o ID" required />
		</div>
		
		<br>

		<div> Status:</div>
		<label for="ativar">Ativo</label>
		<input id="ativar" type="checkbox" ng-model="ficha.status" />

		<br>
		<br>
	  
	  	<label> Data de Cadastro :</label>
	  	<input type="text" id="dataDeCadastro" minlength="10" ng-model="ficha.dataDeCadastro" class="form-control" required />

		<br>
				  
		<label> Observações:</label>
		<textarea ng-model="ficha.observacoes" placeholder="Anotações sobre o dia" type="text" class="form-control" required ></textarea>

	  	<br>
	  
	  	<div class="corFundo row">
			<div class="col-md-4">
			  	<h5>Animais</h5>
			  	<br>
				<ul>
					<li ng-repeat="animal in animais">	
						<a href="javascript:void()" ng-click="adicionarAnimal(animal, $index)"> 
							<i class="fas fa-plus"></i> {{animal.nome}}
						</a>
					</li>
				</ul>
			</div>

			<div class="col-md-6">
			  	<h5>Animais Selecionados</h5>
			  	<br>
				<ul>
					<li ng-repeat="animal in ficha.animais">	
						<a href="javascript:void()" ng-click="removerAnimal(animal, $index)"> 
							<i class="fas fa-times"></i> {{animal.nome}}
						</a>
					</li>
				</ul>
			</div>
			
			<small ng-show="msgAnimal" class="alert alert-danger">Selecione um animal!</small>
		</div>
				  
		<button class="btn btn-primary btn-salva"> 
			Salvar
			<i class="fas fa-save"></i>
		</button>
	</form>
</div>